#root {
  font-family: "Fredoka", sans-serif;
  background-color: #DEE5E5;
}

/* ===========
  Headings
=========== */
h1 {
  color: #5E807F;
  font-size: 2rem;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

/* ===========
  Navbar
=========== */
nav {
  border-bottom: 3px solid #5E807F;
  background-color: white;
  font-size: 2rem;
  font-weight:lighter;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #5E807F;
}

.nav-link.active {
  border: 3px solid #5E807F;
}

/* ===========
  Buttons
=========== */
.btn {
  background-color: #9DC5BB;
}

.btn:hover {
  background-color: #17B890;
}

:not(.btn-check)+.btn:active {
  box-shadow: 0 5px #666;
  background-color: #17B890;
}

/* ===========
  Cards
=========== */

.card {
  padding: 2rem;
  background-color: white;
}

.card-img {
  height: 300px;
}

.card-title {
  color: #5E807F;
  font-size: 1.5rem;
}

/* =============================
  Specific to Skills component
============================= */
.skills-img {
  width: 40px;
  height: 40px;
}

.skills-p {
  font-size: 1.5rem;
  color: #5E807F;
}